<!-- HEADER  -->
<header class="">
  <nav class="container nav_header">

    <!-- Logo  -->
    <a [routerLink]="['/main']" fragment="id_haut" class="logo" data-aos="fade-right" data-aos-duration="3000">
      <img src="assets/Logo/logocomsorte@2x.png">
    </a>
    <!--  Fin Logo  -->

    <!--  Menu Desktop  -->
    <ul class="ul_menu header_menu_desktop" data-aos="fade-left" data-aos-duration="3000">
      <li>
        <a [routerLink]="['/main']" fragment="id_haut">
          Accueil
        </a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="id_apropos">
          À propos
        </a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="id_anais">
          Votre formatrice
        </a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="id_bas">
          Témoignages
        </a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="id_faq">
          FAQ
        </a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="id_formules" class="formules">
          Formules
        </a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="id_contactez" class="contact">
          Contact
        </a>
      </li>
      <li class="langues">
        <span class="lang_active" (click)="showDrapeauxLangues(langue)">

          <img src={{srcLangue}} title="français" class="drapeaux_langues"> {{langue | titlecase}}
          <span class="material-icons mi-down"
            [ngClass]="{'hide': isShowDrapeauxLangues , 'show' : !isShowDrapeauxLangues}">
            keyboard_arrow_down
          </span>
        </span>
        <ul class="ul_langues" [ngClass]="{'cacher': !isShowDrapeauxLangues , 'montrer' : isShowDrapeauxLangues}">
          <li *ngIf="langue !== 'fr' " (click)="showDrapeauxLangues('fr')">
            <img src="assets/icon/france.svg" title="français" class="drapeaux_langues"> Fr
          </li>
          <li *ngIf="langue != 'br' " (click)="showDrapeauxLangues('br')">
            <img src="assets/icon/brazil.svg" title="bresil" class="drapeaux_langues"> Br
          </li>
          <li *ngIf="langue != 'en' " (click)="showDrapeauxLangues('en')">
            <img src="assets/icon/england.svg" title="anglais" class="drapeaux_langues"> En
          </li>
          <li *ngIf="langue != 'es' " (click)="showDrapeauxLangues('es')">
            <img src="assets/icon/paraguay.svg" title="espagnol" class="drapeaux_langues"> Es
          </li>
        </ul>
      </li>
    </ul>
    <!--  Fin Menu Desktop  -->

    <!-- Menu Mobile  -->
    <ul class="ul_menu header_menu_mobile" data-aos="fade-left" data-aos-duration="3000">
      <li class="langues">

        <span class="lang_active" (click)="showDrapeauxLangues(langue)">

          <img src={{srcLangue}} title="français" class="drapeaux_langues"> {{langue | titlecase}}
          <span class="material-icons mi-down"
            [ngClass]="{'hide': isShowDrapeauxLangues , 'show' : !isShowDrapeauxLangues}">
            keyboard_arrow_down
          </span>
        </span>
        <ul class="ul_langues" [ngClass]="{'cacher': !isShowDrapeauxLangues , 'montrer' : isShowDrapeauxLangues}">
          <li *ngIf="langue !== 'fr' " (click)="showDrapeauxLangues('fr')">
            <img src="assets/icon/france.svg" title="français" class="drapeaux_langues"> Fr
          </li>
          <li *ngIf="langue != 'br' " (click)="showDrapeauxLangues('br')">
            <img src="assets/icon/brazil.svg" title="bresil" class="drapeaux_langues"> Br
          </li>
          <li *ngIf="langue != 'en' " (click)="showDrapeauxLangues('en')">
            <img src="assets/icon/england.svg" title="anglais" class="drapeaux_langues"> En
          </li>
          <li *ngIf="langue != 'es' " (click)="showDrapeauxLangues('es')">
            <img src="assets/icon/paraguay.svg" title="espagnol" class="drapeaux_langues"> Es
          </li>


        </ul>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="id_contactez" class="contact">
          Contact
        </a>
      </li>
    </ul>
    <!--  Fin Menu Mobile  -->

  </nav>
</header>
<!-- FIN HEADER  -->

<!-- Haut  -->
<section class="haut" id="id_haut">


  <!-- Svg Ovale  -->
  <svg class="ovale" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1890"
    height="835" viewBox="0 0 1890 835">
    <defs>
      <style>
        .a {
          opacity: 0.554;
          fill: url(#a);
        }
      </style>
      <linearGradient id="a" x1="0.493" y1="1" x2="0.5" gradientUnits="objectBoundingBox">
        <stop offset="0" stop-color="#fae0ba" />
        <stop offset="1" stop-color="#fff" stop-opacity="0" />
      </linearGradient>
    </defs>
    <path class="a"
      d="M945,0c521.909,0,945,186.921,945,417.5S1466.909,835,945,835,0,648.079,0,417.5,423.091,0,945,0Z" />
  </svg>
  <!-- FIN Svg Ovale  -->


  <!-- Haut_conteneur  -->
  <section class="haut_conteneur">


    <div class="enseignement container">

      <div class="enseignement_txt">
        <h1 class="enseignement_titre" data-aos="fade-right" data-aos-duration="3000">
          Enseignement de Français Langue Étrangère (FLE)
        </h1>
        <p data-aos="fade-right" data-aos-duration="2000">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod </p>

        <a [routerLink]="['/main']" fragment="id_apropos" class="ensavoir">
          En savoir plus
        </a>
      </div>

      <div class="enseignement_img" data-aos="fade-left" data-aos-duration="3000">
        <img src="assets/Photos/photo1.png">
      </div>

    </div>


    <div class="aqui container">

      <div class="aqui_titre" data-aos="flip-down" data-aos-duration="3000">
        À qui l'enseignement FLE s'adresse-t-il ?
      </div>

      <div class="aqui_conteneur_item">

        <div class="aqui_item" data-aos="zoom-in-right" data-aos-duration="3000">
          <img class="entreprise_img" src="assets/icon/entreprises_icon.svg">
          <h4>
            Entreprises
          </h4>
          <p>
            Enseignement pour vos salariés? Remises à niveau de vos salariés?
          </p>
        </div>

        <div class="aqui_item" data-aos="zoom-in-right" data-aos-duration="3000">
          <img class="particuliers_img" src="assets/icon/particulier_icon.svg">
          <h4>
            Particuliers
          </h4>
          <p>
            Découverte culturelle? <br>
            Étudiants? Remise à niveau pour objectif personnel?
          </p>
        </div>

        <div class="aqui_item" data-aos="zoom-in-left" data-aos-duration="3000">
          <img class="expatries_img" src="assets/icon/expatries_icon.svg">
          <h4>
            Expatriés
          </h4>
          <p>
            Expatriés venus travailler en France? Conjoint Partenaires d'expatriés? Insertion sociale/culturelle?
          </p>
        </div>

        <div class="aqui_item" data-aos="zoom-in-left" data-aos-duration="3000">
          <img class="organismes_img" src="assets/icon/organisme_icon.svg">
          <h4>
            Organismes
          </h4>
          <p>
            Vous êtes un organisme de formation? Organisme de langue à la recherche d'une formatrice indépendante?
          </p>
        </div>

      </div>

      <a [routerLink]="['/main']" fragment="footer" class="caminteresse">
        Ça m'intéresse
      </a>

    </div>

  </section>
  <!-- FIN Haut_conteneur  -->


  <!-- A propos  -->
  <section class="apropos container" id="id_apropos">
    <div class="apropos_conteneur">
      <div class="apropros_titre" data-aos="fade-left" data-aos-duration="3000">
        À propos de Com'Sorte
      </div>

      <div class="apropos_img mobile" data-aos="fade-right" data-aos-duration="3000">
        <img src="assets/Photos/photo2.png">
      </div>

      <div class="apropos_txt">
        <p class="signification">
          Com Sorte” en portugais signifie “Chanceux(se)/ qui a de la chance”. Anaïs vous accompagne de façon efficace
          dans l’apprentissage du FLE pour répondre au mieux à vos attentes!
        </p>

        <!-- aprops items -->
        <div class="apropos_item">

          <span class="material-icons mi-check">
            check
          </span>

          <div class="apropos_txt">
            <div class="apropos_p_bold">
              Une approche très humaine
            </div>
            <p class="apropos_p">
              Un accompagnement dans la convivialité et la bonne humeur/enthousiasme
            </p>
          </div>
        </div>

        <div class="apropos_item">

          <span class="material-icons mi-check">
            check
          </span>

          <div class="apropos_txt">
            <div class="apropos_p_bold">
              Cours particuliers à distance ou en présentiel
            </div>
            <p class="apropos_p">
              Divers supports informatiques pour vos cours (Zoom, skype, whatsap etc), divers supports matériels pour
              vos cours en présentiel (audio, support papiers).
            </p>
          </div>
        </div>

        <div class="apropos_item">

          <span class="material-icons mi-check">
            check
          </span>

          <div class="apropos_txt">
            <div class="apropos_p_bold">
              Un programme personnalisé
            </div>
            <p class="apropos_p">
              Analyser vos besoins, vos objectifs et vous faire progresser dans un temps record est notre priorité!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="apropos_img desktop" data-aos="fade-right" data-aos-duration="3000">
      <img src="assets/Photos/photo2.png">
    </div>
    <!-- Fin aprops items -->

  </section>
  <!-- Fin A Propos  -->

  <!-- Anais  -->
  <section class="anais container" id="id_anais">

    <div class="anais_img desktop" data-aos="fade-left" data-aos-duration="3000">
      <img src="assets/Photos/photo3.png">
    </div>

    <div class="anais_conteneur">

      <div class="anais_titre" data-aos="fade-right" data-aos-duration="3000">
        Anaïs, votre formatrice de Français
      </div>

      <div class="anais_img mobile" data-aos="fade-left" data-aos-duration="3000">
        <img src="assets/Photos/photo3.png">
      </div>

      <div class="anais_txt">
        <p class="comsorte">
          Com’sorte est une autoentreprise fondée et gérée par Anaïs Silvie. Ayant vécu près de 15 ans à l’étranger dans
          les continents de l’Afrique et de l’Amérique du Sud, Anais a grandi submergée par de nouvelles langues et de
          nouvelles cultures, le français étant sa langue maternelle.
        </p>

        <!-- anais items -->
        <div class="anais_item">

          <span class="material-icons mi-check">
            check
          </span>

          <div class="anais_txt">
            <p class="anais_p">
              7 ans d’expérience dans l’enseignement des langues à des particuliers non francophones de tout âge
            </p>
          </div>

        </div>

        <div class="anais_item">

          <span class="material-icons mi-check">
            check
          </span>

          <div class="anais_txt">
            <p class="anais_p">
              Adaptation du programme FLE selon les objectifs visés et niveaux
            </p>
          </div>

        </div>

        <div class="anais_item">

          <span class="material-icons mi-check">
            check
          </span>

          <div class="anais_txt">
            <p class="anais_p">
              Anaïs est polyglotte et parle Anglais, Portugais, Espagnol et Français (sa langue maternelle)
            </p>
          </div>

        </div>

      </div>

    </div>

  </section>
  <!-- Fin Anais  -->

  <!-- Chiffres -->
  <div class="chiffres_conteneur_item container">

    <div class="chiffre_item">
      <span class="chiffre_span">
        +7
      </span>
      <div class="chiffre_titre">
        Années d’expérience
      </div>
      <p>
        Enseignement des langues à des particuliers non francophones de tout âge
      </p>
    </div>

    <div class="chiffre_item">
      <span class="chiffre_span">
        +14
      </span>
      <div class="chiffre_titre">
        Années à l’étranger
      </div>
      <p>
        Bénin, Togo, Paraguay, Brésil.
      </p>
    </div>

    <div class="chiffre_item">
      <span class="chiffre_span">
        +20
      </span>
      <div class="chiffre_titre">
        Élèves
      </div>
      <p>
        De tout âges et de différentes nationalités
      </p>
    </div>

  </div>
  <!-- Fin Chiffres-->

  <!-- Drapeaux -->
  <div class="drapeaux_conteneur">
    <img src="assets/icon/brazil.svg" data-aos="fade-right" data-aos-duration="4000" title="Brésil">
    <img src="assets/icon/france.svg" data-aos="fade-right" data-aos-duration="3000" title="France">
    <img src="assets/icon/paraguay.svg" data-aos="fade-right" data-aos-duration="2000" title="Paraguay">
    <img src="assets/icon/england.svg" data-aos="fade-right" data-aos-duration="1000" title="Angleterre">
    <img src="assets/icon/USA.svg" data-aos="fade-right" data-aos-duration="500" title="États-Unis">
  </div>
  <!-- Fin Drapeaux -->

  <!-- Formules et tarifs -->
  <section class="formules container" id="id_formules">

    <div class="formule_titre" data-aos="fade-right" data-aos-duration="3000">
      Formules et tarifs
    </div>

    <div class="formule_conteneur">

      <div class="formule_item" data-aos="fade-right" data-aos-duration="3000">
        <h4>
          Formule Particuliers
        </h4>
        <span class="formule_span_euros ind">
          35€
        </span>
        <span class="formule_span_heure">
          Par heure
        </span>
        <span class="formule_span_categorie ind_categorie">
          Individuel
        </span>
        <div class="formule_description">
          Pour les particulier, les étudiants ou expatriés, <strong>Niveau A1 à C1</strong>
        </div>
        <ul class="formule_ul">
          <li>
            <img src="assets/icon/check.svg">
            <p>
              1 à 3 heures par semaine (progressif) <br> ou 2 à 6 heures par semaine (intensif)
            </p>
          </li>
          <li>
            <img src="assets/icon/check.svg">
            <p>
              En présentiel ou à distance en visio
            </p>
          </li>
          <li>
            <img src="assets/icon/check.svg">
            <p>
              Possibilité aussi les soirs, jours fériés ou le samedi
            </p>
          </li>
          <li>
            <img src="assets/icon/check.svg">
            <p>
              Assistance aux devoirs sur demande
            </p>
          </li>
        </ul>
      </div>

      <div class="formule_item">
        <h4>
          Formule Salariés
        </h4>
        <span class="formule_span_euros stag">
          35€
        </span>
        <span class="formule_span_heure">
          Par heure
        </span>
        <span class="formule_span_categorie stag_categorie">
          5 stagiaires max
        </span>
        <div class="formule_description">
          Pour les particulier, les étudiants ou expatriés, <strong>Niveau A1 à C1</strong>
        </div>
        <ul class="formule_ul">
          <li>
            <img src="assets/icon/check.svg">
            <p>
              1 à 3 heures par semaine (progressif) <br> ou 2 à 6 heures par semaine (intensif)
            </p>
          </li>
          <li>
            <img src="assets/icon/check.svg">
            <p>
              En présentiel ou à distance en visio
            </p>
          </li>
          <li>
            <img src="assets/icon/check.svg">
            <p>
              Possibilité aussi les soirs, jours fériés ou le samedi
            </p>
          </li>
          <li>
            <img src="assets/icon/check.svg">
            <p>
              Assistance aux devoirs sur demande
            </p>
          </li>
        </ul>
      </div>

      <div class="formule_item" data-aos="fade-left" data-aos-duration="2000">
        <h4>
          Formule Salariés
        </h4>
        <span class="formule_span_euros sal">
          45€
        </span>
        <span class="formule_span_heure">
          Par heure
        </span>
        <span class="formule_span_categorie sal_categorie">
          8 stagiaires max
        </span>
        <div class="formule_description">
          Pour les particulier, les étudiants ou expatriés, <strong>Niveau A1 à C1</strong>
        </div>
        <ul class=" formule_ul">
          <li>
            <img src="assets/icon/check_sal.svg">
            <p>
              1 à 3 heures par semaine (progressif) <br> ou 2 à 6 heures par semaine (intensif)
            </p>
          </li>
          <li>
            <img src="assets/icon/check_sal.svg">
            <p>
              En présentiel ou à distance en visio
            </p>
          </li>
          <li>
            <img src="assets/icon/check_sal.svg">
            <p>
              Possibilité aussi les soirs, jours fériés ou le samedi
            </p>
          </li>
          <li>
            <img src="assets/icon/check_sal.svg">
            <p>
              Assistance aux devoirs sur demande
            </p>
          </li>
        </ul>
      </div>

    </div>

  </section>
  <!-- Fin Formules et tarifs -->

  <!--  Faq  -->
  <section class="faq container" id="id_faq">

    <div class="faq_conteneur">
      <div class="faq_titre" data-aos="fade-left" data-aos-duration="3000">
        Foire aux questions
      </div>

      <!-- faq conteneur  -->
      <div class="faq_bas" data-aos="fade-left" data-aos-duration="2000">

        <!-- question 1 -->
        <div class="question">
          <input type="checkbox" id="sidebar-toggle1">

          <div class="accordion">
            <h5>Qu'est-ce le FLE? Qu’est-ce qu’une formation de FLE?</h5>

            <label for="sidebar-toggle1">
              <span class="material-icons icon">
              </span>
            </label>
          </div>

          <div class="panel">
            <p>
              Le FLE est l’enseignement du français langue vivante à des non francophones, dans un but culturel,
              professionnel ou touristique. La formation de FLE est « l’Action de donner à quelqu’un, à un groupe, les
              connaissances nécessaires à l’exercice d’une activité »(Larousse), dans ce cas, le Français.
            </p>
          </div>

        </div>
        <!-- Fin question 1  -->

        <!-- question 2 -->
        <div class="question">
          <input type="checkbox" id="sidebar-toggle2">

          <div class="accordion">
            <h5>Quel est le parcours professionnel d’Anaïs ?</h5>

            <label for="sidebar-toggle2">
              <span class="material-icons icon">
              </span>
            </label>
          </div>

          <div class="panel">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est repellat nam ab dolorem architecto sit
              excepturi
            </p>
          </div>

        </div>
        <!-- Fin question 2  -->

        <!-- question 3 -->
        <div class="question">
          <input type="checkbox" id="sidebar-toggle3">

          <div class="accordion">
            <h5>Quel type de formation de FLE propose Anaïs?</h5>

            <label for="sidebar-toggle3">
              <span class="material-icons icon">
              </span>
            </label>
          </div>

          <div class="panel">
            <p>
              Lorem ipsum dolor sit amet
            </p>
          </div>

        </div>
        <!-- Fin question 3  -->

        <!-- question 4 -->
        <div class="question">
          <input type="checkbox" id="sidebar-toggle4">

          <div class="accordion">
            <h5>Comment obtenir un devis?</h5>

            <label for="sidebar-toggle4">
              <span class="material-icons icon">
              </span>
            </label>
          </div>

          <div class="panel">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est repellat nam ab dolorem architecto sit
              excepturi, fugit tempora, voluptatem ipsum cumque nulla ea commodi amet, temporibus natus error ratione
              veniam?
            </p>
          </div>

        </div>
        <!-- Fin question 4 -->


      </div>
      <!-- Fin Faq conteneur  -->

      <div class="faq_img mobile">
        <img src="assets/Photos/photo4.png">
      </div>
    </div>

    <div class="faq_img desktop" data-aos="fade-right" data-aos-duration="3000">
      <img src="assets/Photos/photo4.png">
    </div>

  </section>
  <!--  Fin Faq  -->

</section>
<!-- FIN Haut  -->

<!-- Bas  -->
<section class="bas">

  <!-- Svg Ovale  -->
  <svg class="ovale_bas" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1890"
    height="835" viewBox="0 0 1890 835">
    <defs>
      <style>
        .a {
          opacity: 0.554;
          fill: url(#a);
        }
      </style>
      <linearGradient id="a" x1="0.493" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
        <stop offset="0" stop-color="#fae0ba" />
        <stop offset="1" stop-color="#fff" stop-opacity="0" />
      </linearGradient>
    </defs>
    <path class="a"
      d="M945,835c521.909,0,945-186.921,945-417.5S1466.909,0,945,0,0,186.921,0,417.5,423.091,835,945,835Z" />
  </svg>
  <!-- FIN Svg Ovale  -->


  <!-- Bas_conteneur  -->
  <section class="bas_conteneur" id="id_bas">

    <div class="formation container" id="id_formation">

      <img src="assets/avis/avis1.png" class="avis_1" data-aos="zoom-out-right" data-aos-duration="3000">

      <img src="assets/avis/avis2.png" class="avis_2 desktop" data-aos="zoom-out-left" data-aos-duration="2000">

      <div class="formation_txt">
        <div class="formation_titre">
          Besoin de former vos salariés au Français ?
        </div>
        <p>
          Bénéficiez d’une remise à niveau rapide et efficace !
        </p>
        <a [routerLink]="['/main']" fragment="id_contactez" class="contacter">
          Contactez Anaïs
        </a>
      </div>

      <img src="assets/avis/avis3.png" class="avis_3" data-aos="zoom-out-right" data-aos-duration="2000">

      <img src="assets/avis/avis4.png" class="avis_4 desktop" data-aos="zoom-out-left" data-aos-duration="3000">

      <img src="assets/avis/avis5.png" class="avis_5 desktop" data-aos="flip-down" data-aos-duration="3000">

    </div>

    <div id="id_contactez">
      <div class="contactez container">

        <div class="contactez_titre" data-aos="fade-right" data-aos-duration="3000">
          Contactez Anais
        </div>
        <p>
          Pour toute question ou demande de souscription à une formule
        </p>

        <div class="contactez_conteneur_item">
          <div class="contactez_item" data-aos="fade-right" data-aos-duration="3000">
            <img src="assets/icon/pin.svg">
            <p>
              Montpellier , Hérault
            </p>
          </div>

          <div class="contactez_item" data-aos="flip-down" data-aos-duration="2000">
            <img src="assets/icon/call.svg">
            <p>
              +33 (0)6 50 08 30 74
            </p>
          </div>

          <div class="contactez_item" data-aos="fade-left" data-aos-duration="1000">
            <img src="assets/icon/mail.svg">
            <p>
              comsorte@outlook.fr
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- FIN Bas_conteneur  -->

</section>
<!-- FIN Bas  -->

<!--  FOOTER  -->
<footer id="footer">

  <!--  Footer mobile  -->
  <div class="footer_conteneur footer_mobile">
    <ul class="footer_ul">
      <li>
        <a [routerLink]="['/main']" fragment="id_haut">
          Accueil
        </a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="id_haut">
          Pour qui ?
        </a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="id_apropos">
          À propos
        </a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="id_anais">
          Votre formatrice
        </a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="id_bas">
          Témoignages
        </a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="id_faq">
          FAQ
        </a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="id_formules">
          Formules
        </a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="id_contactez">
          Contact
        </a>
      </li>
    </ul>
    <a [routerLink]="['/main']" fragment="id_haut">
      <img src="assets/Logo/logoblanc_comsorte.svg">
    </a>
  </div>
  <!--  Fin footer mobile  -->

  <!--  Footer desktop  -->
  <div class="footer_conteneur footer_desktop">

    <a [routerLink]="['/main']" fragment="id_haut">
      <img src="assets/Logo/logoblanc_comsorte.svg" class="footer_img_desktop">
    </a>
    <ul class="footer_ul">
      <li>
        <p>
          <a [routerLink]="['/main']" fragment="id_haut">
            Accueil
          </a>
        </p>
        <p>
          <a [routerLink]="['/main']" fragment="id_haut">
            Pour qui ?
          </a>
        </p>
        <p>
          <a [routerLink]="['/main']" fragment="id_apropos">
            À propos
          </a>
        </p>
      </li>
      <li>
        <p>
          <a [routerLink]="['/main']" fragment="id_anais">
            Votre formatrice
          </a>
        </p>
        <p>
          <a [routerLink]="['/main']" fragment="id_bas">
            Témoignages
          </a>
        </p>
        <p>
          <a [routerLink]="['/main']" fragment="id_faq">
            FAQ
          </a>
        </p>
      </li>
      <li>
        <p>
          <a [routerLink]="['/main']" fragment="id_formules" class="formules">
            Formules
          </a>
        </p>
        <p>
          <a [routerLink]="['/main']" fragment="id_contactez" class="contact">
            Contact
          </a>
        </p>
      </li>

    </ul>


  </div>
  <!--  Fin footer desktop  -->


  <div class="mentions ">
    <span class="mentions_legales_modal" data-toggle="modal" data-target="#myModal">Mentions légales</span>
    <span>Politique de confidentialité</span>
  </div>

</footer>
<!--  FIN FOOTER  -->

<!-- Modal Mention légales  -->
<div id="myModal" class="modal fade mention_legale" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mention Légales</h4>
      </div> -->
      <div class="modal-body">

        <div class="elementor-widget-container">
          <div class="elementor-text-editor elementor-clearfix">
            <h3>Mentions légales</h3>
            <h4>Conditions d’utilisation</h4>
            <p>Le site accessible par les URL suivantes : https://comsorte.fr est exploité dans le respect de la
              législation française.<br>L’utilisation de ce site est régie par les présentes conditions générales. En
              utilisant le site, vous reconnaissez<br>avoir pris connaissance de ces conditions et les avoir acceptées.
              Celles-ci pourront êtres modifiées à tout moment<br>et sans préavis par la société COM’Sorte.<br>COM’Sorte ne
              saurait être tenu pour responsable en aucune manière d’une mauvaise utilisation du service.</p>
            <p></p>
            <h4>Limitation de responsabilité</h4>
            
            <p>Tout contenu téléchargé se fait aux risques et périls de l’utilisateur et sous sa seule responsabilité.
              En conséquence, COM’ON ne saurait être tenu responsable d’un quelconque dommage subi par l’ordinateur de
              l’utilisateur ou d’une quelconque perte de données consécutives au téléchargement.</p>
            <p>Les photos sont non contractuelles.</p>
            <p>Les liens hypertextes mis en place dans le cadre du présent site internet en direction d’autres
              ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de COM’ON.</p>
            <p></p>
            <h4>Litiges &amp; Confidentialité</h4>
            <p>Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui
              pourraient naître de l’interprétation ou de l’exécution de celles-ci seront de la compétence exclusive des
              tribunaux dont dépend le siège social de la société COM’ON. La langue de référence, pour le règlement de
              contentieux éventuels, est le français.<br>Vos données personnelles sont confidentielles et ne seront en
              aucun cas communiquées à des tiers hormis pour la bonne exécution de la prestation.</p>
            <p></p>
            <h4>Propriété intellectuelle</h4>
            <p>Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes,
              vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive
              de la société COM'SORTE à l’exception des marques, logos ou contenus appartenant à d’autres sociétés
              partenaires ou auteurs.</p>
            <p>Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même
              partielle, de ces différents éléments est strictement interdite sans l’accord exprès par écrit de COM’ON.
              Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon
              sanctionnée par les articles L.3335-2 et&nbsp;suivants du Code de la&nbsp; propriété intellectuelle. Le
              non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et
              pénale du contrefacteur. En outre, les propriétaires des Contenus copiés&nbsp;pourraient intenter une
              action en justice à votre encontre.</p>
            <p>COM’ON est identiquement propriétaire des « droits des producteurs de bases de données » visés au Livre
              III, Titre IV, du Code de la Propriété Intellectuelle (loi n° 98-536 du 1er juillet 1998) relative aux
              droits d’auteur et aux&nbsp;bases de données.</p>
            <p>Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de ce
              site, mais uniquement en direction de la page d’accueil, accessible à l’URL suivante :
              htpps://com-on.agency à condition que ce lien s’ouvre dans une nouvelle fenêtre. En particulier un lien
              vers une sous page (« lien profond ») est interdit, ainsi que l’ouverture du présent site au sein d’un
              cadre (« framing »), sauf l’autorisation expresse et préalable de COM’ON.</p>
            <p>Pour toute demande d’autorisation ou d’information, veuillez nous contacter par email :
              contact@com-on.agency</p>
            <p></p>
            <h4>Hébergeur</h4>
            <p>OVH – SAS au capital de 10 069 020 €<br>RCS Lille Métropole 424 761 419 00045<br>Code APE : 2620Z<br>N°
              TVA : FR 22 424 761 419<br>Siège social : 2 rue Kellermann – 59100 Roubaix – France</p>
            <p></p>
            <h4>Conditions de service</h4>
            <p>Ce site est proposé en langages Angular, HTML5 ,CSS3 et JavaScript pour un meilleur confort d’utilisation et un
              graphisme plus<br>agréable, nous vous recommandons de recourir à des navigateurs modernes comme Safari,
              Firefox, Chrome,…</p>
            <p></p>
            <h4>Cookies</h4>
            <p>Le présent site n'utilise pas des cookies. Il s’agit de petits
              fichiers<br>textes stockés sur votre disque dur afin d’enregistrer des données techniques sur votre
              navigation. Certaines<br>parties de ce site ne peuvent être fonctionnelle sans l’acceptation de cookies.
            </p>
            <!-- <table>
              <tbody>
                <tr>
                  <th>Nom du cookie</th>
                  <th>Finalité</th>
                  <th>Durée de conservation</th>
                </tr>
                <tr>
                  <td>_ga<br>_gat<br>_gid</td>
                  <td>Mesures statistiques du trafic de site</td>
                  <td>13 mois</td>
                </tr>
                <tr>
                  <td>PHPSESSID</td>
                  <td>Cet outil permet la gestion des sessions.</td>
                  <td>Le temps de la session</td>
                </tr>
                <tr>
                  <td>SERVERID87219</td>
                  <td>Permet la souplesse et la fiabilité du serveur.</td>
                  <td>
                    <p></p>
                  </td>
                </tr>
              </tbody>
            </table> -->
            <h4>Informations et exclusion</h4>
            <p>COM’SORTE met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à
              jour fiable<br>de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L’internaute
              devra donc s’assurer de l’exactitude des informations auprès de COM’ON, et signaler toutes modifications
              du site qu’il jugerait utile. COM’ON n’est en aucun cas responsable de l’utilisation faite de ces
              informations, et de tout préjudice direct ou indirect pouvant&nbsp; en découler.</p>
            <p></p>
            
            <h4>Recherche</h4>
            <p>En outre, le renvoi sur un site internet pour compléter une information recherchée ne signifie en aucune
              façon que COM’ON reconnaît ou accepte quelque responsabilité quant à la teneur ou à l’utilisation dudit
              site.</p>
            <p></p>
            <h4>Précautions d’usage</h4>
            <p>En outre, le renvoi sur un site internet pour compléter une information recherchée ne signifie en aucune
              façon que COM’ON reconnaît ou accepte quelque&nbsp;responsabilité quant à la teneur ou à l’utilisation
              dudit site.</p>
            <p></p>
            <h4>Responsabilité</h4>
            <p>Aucune autre garantie n’est accordée au client, auquel incombe l’obligation de formuler clairement ses
              besoins et le<br>devoir de s’informer. Si des informations fournies par COM’ON apparaissent inexactes, il
              appartiendra au client de procéder lui-même à toutes vérifications de la cohérence ou de la vraisemblance
              des résultats obtenus. COM’ON ne sera en aucune façon responsable vis à vis des tiers de l’utilisation par
              le client des informations ou de leur absence contenues dans ses produits y compris un de ses sites
              Internet.</p>
            <p></p>
            <h4>Contactez-nous</h4>
            <p>COM’SORTE est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous écrire en
              français par<br>courrier électronique à : comsorte@outlook.fr  </p>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>

  </div>
</div>