@import '../styles.scss';

a {
    transition: all .4s ease-in-out;

            &:hover {
                letter-spacing: .5px;
                font-weight: 700 !important;
            }
}

header {
    background-color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    box-shadow: 3px 4px 12px rgba(0,0,0,.15);
    position: fixed;
    top: 0;
    z-index: 100;

    .nav_header{

        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;

        width: 85%;
        height: 90px;


        .logo {
            img {  
                width: 150px;
            }
        }

        ul {
            margin: 0 !important;
            padding: 0 !important;
        }
    
        .header_menu_desktop {
            display: flex;
            justify-content: center;
            align-items: center;

            // .langues {
            //     cursor: pointer;
            //     position: relative;

            //     .ul_langues {
            //         position: absolute;

            //         top: 45px;
            //         left: -19px;

            //         text-decoration: none;
            //         list-style: none;
            //         display: flex;
            //         flex-direction: column;
            //         justify-content: center;
            //         align-items: baseline; 
            //         margin: 0 !important;
            //         padding: 0 !important;
            //         li {
            //             display: flex;
            //             flex-direction: row;
            //             justify-content: center;
            //             align-items: center; 
            //             margin-bottom: 5px;
            //             transition: 0.3s ease-in-out;

            //             filter: grayscale(1);
            //             &:hover {
            //                 filter: grayscale(0);
            //                 font-weight: bold;
            //             }
            //         }
            //     }
            // }

            // .drapeaux_langues {
            //     width: 30px;
            //     margin-right: 5px;
            // }

            // .mi-down {
            //     color: $color_sombre;
            //     font-size: 12px;
            // }

        }

        .langues {
            cursor: pointer;
            position: relative;

            display: flex;
            align-items: center;

            .ul_langues {
                position: absolute;

                top: 45px;

                text-decoration: none;
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: baseline; 
                margin: 0 !important;
                padding: 0 !important;
                li {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center; 
                    margin-bottom: 5px;
                    transition: 0.3s ease-in-out;

                    filter: grayscale(1);
                    &:hover {
                        filter: grayscale(0);
                        font-weight: bold;
                        transform: scale(1.1);
                    }
                }
            }
        }

        .drapeaux_langues {
            width: 25px;
            margin-right: 5px;
        }

        .mi-down {
            color: $color_sombre;
            font-size: 12px;
        }

        .contact {
            font-family: "Poppins", semi-bold;
            font-size: 16px;
            font-weight: 600;
            line-height: 25px;

            color: white !important;

            background: $color_second;
            padding: 9px 18px;
            border-radius: 5px;  

            margin-left: 8px;
            
            text-align: left;
            animation-delay: 1s;
        }

        .lang_active {
            z-index: 40;
        }

        .header_menu_mobile {
            list-style: none;
            display: flex;
        }
    
        .header_menu_desktop {
            display: none;
        }

        .montrer {
            transition: .7s ease-in-out;
            height: 80px;
        }

        .cacher {
            transition: 0s;
            height: 0;
            overflow: hidden;
            transition: .7s ease-in-out;
        }

        
    }   
}

#id_haut {
    padding-top: 80px;
}

.haut {
    
    position: relative;
    overflow: hidden;

    .ovale {
        height: 50%;
        width: 190%;
        //width: 350%;
        margin: 0 auto;
        left: 50%;
        transform: translate(-50%);
        position: absolute;

        z-index: -1;
    }

    .haut_conteneur {
        top: 0;
        width: 100%;

        .enseignement {
            padding: 10px 8px;

            .enseignement_txt {
                
                .enseignement_titre {
                    font-family: "Lora" !important;
                    font-weight: bold;
                    font-size: 44px;
                    max-width: 530px;
                    line-height: 54px;
                    padding: 0 !important;
                    color: $color_titre;
                    text-align: left;
                }

                p {
                    font-family: "Poppins", regular;
                    font-weight: 400;
                    
                    max-width: 480px;
                    font-size: 18px;
                    line-height: 28px;
                    color: #567592;
                }

                .ensavoir {
                    font-family: "Poppins", bold;
                    font-weight: bold; //700
                    font-size: 16px;
                    line-height: 25px;

                    color: white;

                    background: $color_second;
                    padding: 12px 24px;
                    border-radius: 5px;   

                    display: inline-block;
                    margin-top: 20px;
                }
            }

            .enseignement_img {
                width: 100%;
                height: 100%;
                margin-top: 55px;

                img {
                    width: 100%;
                }
            }
        }

        .aqui {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .aqui_titre {
                font-family: "Lora", Bold !important;
                font-weight: bold;
                font-size: 36px;
                line-height: 46px;
                //padding: 5px 21px;
                max-width: 345px;
                text-align: center;
                color: rgb(47 64 87);              
            }

            .aqui_conteneur_item {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-top: 60px;

                .aqui_item {

                    width: 240px;
                    min-height: 240px;

                    img {
                        border-radius: 20px;
                        padding: 12px;
                        margin-top: 30px;
                    }

                    .entreprise_img {
                        background: #ca9a7e;    
                    }

                    .particuliers_img {
                        background: #ddbea9;
                    }

                    .expatries_img {
                        background: #434b54;
                    }

                    .organismes_img {
                        background: rgb(47 64 87);
                    }
                    

                    h4 {                     
                        font-family: "Poppins", semi-bold !important;
                        font-size: 22px;
                        font-weight: 600;
                        color: $color_titre;
                        margin-top: 30px;
                    }

                    p {
                        font-family: "Poppins", medium !important;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 26px;
                        color: $color_sombre;
                        margin-top: 30px;
                        min-height: 105px;
                    }
                }
            }

            .caminteresse {
                margin: 60px;

                font-family: "Poppins", semi-bold;
                font-size: 16px;
                font-weight: 600;
                line-height: 25px;

                color: white;

                background: $color_second;
                padding: 12px 24px;
                border-radius: 5px;  
                
                text-align: left;
            }
        }
    }

    //-- A propos  --

    #id_apropos {
        padding-top: 90px;
    }

    .apropos {
        //margin-top: 90px;

        .apropros_titre {
            font-family: "Lora", Bold !important;
            font-weight:  bold;
            font-size: 36px;
            line-height: 46px;
            //padding: 5px 10px;
            max-width: 345px;
            text-align: center;
            color: $color_titre           
        }

            .apropos_txt {

                .signification {
                    font-family: "Poppins", medium !important;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    color: $color_sombre;
                    padding: 15px 30px;
                }
    
                .apropos_item {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    width: 80%;
                    margin: auto;
    
                    &::before{
                        position: absolute;
                        top: 13px;
                        left: -10px;
                        content:url(../assets/icon/valide_icon.svg) ;
                    }
    
                    .mi-check {
                        position: absolute;
                        top: 17px;
                        left: -6px;
                        color: white;
                        font-size: 18px;
                    }
                }
    
                .apropos_p_bold{
                    font-family: "Poppins", bold !important;
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: bold;
                    color: $color_titre;
                    margin-top: 10px;
                    padding: 5px 30px;
                }
    
                .apropos_p {
                    font-family: "Poppins", medium !important;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    color: $color_sombre;
                    padding: 10px 0px 0px 30px;
                }
            }
    
            .apropos_img {
                width: 100%;
                height: 100%;
                margin-top: 55px;
    
                img {
                    width: 100%;
                }
            }
        
        
    }
    //-- Fin A Propos  --

    //-- Anais --
    #id_anais {
        padding-top: 100px;
    }
    .anais {

        //margin-top: 40px;

        .anais_titre {
            font-family: "Lora", Bold !important;
            font-size: 36px;
            font-weight: bold;
            line-height: 46px;
            max-width: 345px;
            //padding: 5px 10px;
            text-align: center;
            color: $color_titre; 
        }

        .anais_txt {

            .comsorte {
                font-family: "Poppins", medium !important;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                color: $color_sombre;
                padding: 15px 30px;
                text-align: left;
            }

            .anais_item {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                width: 80%;
                margin: auto;

                &::before{
                    position: absolute;
                    top: 2px;
                    left: -10px;
                    content:url(../assets/icon/valide_icon.svg) ;
                }

                .mi-check {
                    position: absolute;
                    top: 5px;
                    left: -6px;
                    color: white;
                    font-size: 18px;
                }
            }

            .anais_p {
                font-family: "Poppins", medieum !important;
                font-size: 14px;
                font-weight: 500;
                line-height: 26px;
                color: $color_sombre;
                padding: 0px 0px 0px 30px;
                text-align: left;
            }
        }

        .anais_img {
            width: 100%;
            height: 100%;
            margin-top: 55px;          
            margin-bottom: 70px;

            // display: flex;
            // justify-content: center;

            img {
                width: 80%;
            }
        }

    }
    //-- Fin Anais --

    //-- Chiffres --
    .chiffres_conteneur_item {
        margin-top: 60px;

        .chiffre_item {
            max-width: 237px;
            margin:  70px auto;

            .chiffre_span {
                font-family: "Poppins" !important;
                font-size: 46px;
                font-weight: bold;
                line-height: 69px;
                color: $color_second;
                text-align: left;

                transition: all .7s ease-in-out;

            }

            .chiffre_titre {
                font-family: "Poppins", semi-bold !important;
                font-size: 22px;
                font-weight: 600;
                line-height: 33px;
                color: $color_titre;
                text-align: left;
            }

            p {
                font-family: "Poppins", medium !important;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                color: $color_sombre;
                text-align: left;

                margin-top: 18px;
            }

            transition: all .5s ease-in-out;
            cursor: pointer;

            &:hover {
                .chiffre_span {  
                    font-size: 56px;
                }
            }
        }
    }
    //-- Fin Chiffres --

    //-- Drapeaux --
    .drapeaux_conteneur {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;


        img {
            width: 43px;
            height: 43px;
        }
    }
    //-- Fin Drapeaux --

    //-- Formules et tarifs --
    #id_formules {
        padding-top: 90px;
    }

    .formules {
        //margin-top: 90px;
        .formule_titre {
            font-family: "Lora", Bold !important;
            font-size: 36px;
            font-weight: bold;
            line-height: 46px;
            text-align: center;
            color: $color_titre
        }

        .formule_conteneur {
            margin-top: 50px;
            
            .formule_item {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h4 {
                    font-family: "Poppins", semi-bold !important;
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 33px;
                    text-align: center;
                    color: $color_titre;
                }

                .formule_span_euros {
                    font-family: "Poppins" !important;
                    font-size: 62px;
                    line-height: 93px;
                    text-align: center;             
                }

                .ind {
                    color: #DDBEA9 !important;
                }

                .stag {
                    color: #CA9A7E !important;
                }

                .sal {
                    color: #612840 !important;
                }

                .formule_span_heure {
                    font-family: "Poppins" !important;
                    font-size: 16px;
                    line-height: 25px;
                    text-align: center;
                    color: $color_sombre;
                }

                .formule_span_categorie {
                    font-family: "Poppins" !important;
                    font-size: 18px;
                    line-height: 27px;
                    text-align: center;
                    color: white;
                    position: relative;
                    
                    margin-top: 30px;
                }

                .ind_categorie {
                  
                    &::before{
                        position: absolute;
                        top: -3px;
                        left: -30px;
                        z-index: -1;
                        content:url(../assets/icon/Rectangle_ind.svg) ;
                    }
                }

                .stag_categorie {
                  
                    &::before{
                        position: absolute;
                        top: -3px;
                        left: -12px;
                        z-index: -1;
                        content:url(../assets/icon/Rectagle_5.svg) ;
                    }
                }

                .sal_categorie {
                  
                    &::before{
                        position: absolute;
                        top: -3px;
                        left: -12px;
                        z-index: -1;
                        content:url(../assets/icon/Rectangle_8.svg) ;
                    }
                }
                
                .formule_description {
                    font-family: "Poppins" !important;
                    font-size: 18px;
                    line-height: 32px;
                    text-align: center;
                    color: $color_sombre;

                    margin-top: 40px;
                }

                .formule_ul {
                    list-style:none;
                    margin: 10px 0 0 0 !important;
                    padding: 0 !important;
                }
               
                li {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    
                    p {
                        font-family: "Poppins" !important;
                        font-size: 14px;
                        line-height: 39px;
                        text-align: left;
                        color: $color_sombre;
                        position: relative;
                        margin-left: 15px;
                        max-width: 290px;
                    }
                }  
                
                transition: all .5s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.035);
                    border-radius: 5px;
                    box-shadow: 0px 10px 10px 0px rgba(50, 50, 50, 0.16);
                }
            }
        }
    }
    //-- Fin Formules et tarifs --

    //-- Faq --
    #id_faq {
        padding-top: 90px;
    }

    .faq {
        //margin-top: 90px;

        .faq_titre {
            font-family: "Lora", Bold !important;
            font-size: 36px;
            font-weight: bold;
            line-height: 46px;
            max-width: 345px;
            //padding: 5px 5px;
            text-align: center;
            color: $color_titre
        }

        //--  Faq conteneur --
        .faq_bas {        
            margin-top: 35px;

            .accordion {
                width: 100%;
                padding: 5px 8px;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                transition: 1s ease-in-out;


                h5 {
                    margin: 0;
                    font-family: "Poppins", bold !important;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 26px;
                    color: $color_sombre;
                    text-align: left;
                }

                label {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    transition: .4s ease-in-out;
                }
                .icon {
                    position: relative;
                    cursor: pointer;
                    transition: .6s ease-in-out;

                    &:hover{
                        transform: scale(1.1);
                    }
                }

                .icon::before {
                    content:url(../assets/icon/+.svg) ;
                    font-weight: 500;
                    font-size: 2rem;
                    transition: 1s ease-in-out;
                }
            }
            
            .panel {
                border-left: 1px solid $color_second;
                margin-left: 21px;
                margin-top: 12px;
                opacity: 0;
                max-height: 0;
                transition: all .6s ease-in-out;
                
                p {

                    font-family: "Poppins", medium !important;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 26px;
                    color: $color_sombre;
                    text-align: left;
                    padding: 1rem .8rem;
                    transition: .5s ease-in-out;
                }
            }   
            
            // cheked 

            #sidebar-toggle1, #sidebar-toggle2, #sidebar-toggle3, #sidebar-toggle4 {
                display: none;
            }
            
            #sidebar-toggle1:checked, #sidebar-toggle2:checked, #sidebar-toggle3:checked, #sidebar-toggle4:checked    {
            
                ~ .panel {   
                    opacity: 1; 
                    max-height: calc(350px);
                }

                ~ .accordion {
                    .icon::before {
                        content:url(../assets/icon/-.svg) ;
                    }
                }        
            }
        }
        //--  Fin Faq conteneur --

        .faq_img {
            width: 100%;
            height: 100%;
            margin-top: 55px;          
            margin-bottom: 70px;

            img {
                width: 80%;
            }
        }
    } 
    //-- Fin faq --

}

//--  bas  --
#id_bas {
    padding-top: 90px;
}

.bas {
    
    position: relative;
    overflow-x: hidden;


    .ovale_bas {

        height: 50%;
        width: 350%;
        margin: 0 auto;
        left: 50%;
        position: absolute;
        z-index: -1;
        transform: translate(-50%) rotate(
    180deg
    );
    }

    .bas_conteneur {
        top: 0;
        width: 100%;

        #id_formation {
            
        }

        .formation {

            padding: 52px 28px;

            .formation_txt {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .formation_titre {
                    font-family: "Lora", Bold !important;
                    font-size: 36px;
                    font-weight: bold;
                    line-height: 46px;
                    max-width: 600px;
                    color: $color_titre;
                    text-align: center;
                }

                p {
                    font-family: "Poppins", medium;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    color: $color_sombre;
                    margin: 40px 0;
                    text-align: center;
                }

                .contacter {
                    font-family: "Poppins", bold;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 25px;

                    color: white;

                    background: $color_second;
                    padding: 12px 24px;
                    border-radius: 5px;   
                }
            }

            img {
                width:100%;
                margin: 45px 5px;

            }
        }

        #id_contactez {
            padding-top: 100px;
        }

        .contactez {
            margin-top: 40px;
            margin-bottom: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .contactez_titre {
                font-family: "Lora", Bold !important;
                font-size: 36px;
                font-weight: bold;
                line-height: 46px;
                padding: 5px 5px;
                color: $color_titre;
                text-align: center;
            }

            p {
                font-family: "Poppins", medium;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                color: $color_sombre;
                margin: 30px 0;
                text-align: center;
            }

            .contactez_conteneur_item {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                flex-wrap: wrap;

                .contactez_item {

                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    padding: 10px 5px;
                    background-color: #f6eee8;
                    border-radius: 12px;

                    min-width: 250px;
                    margin: 14px;

                    img {
                        border-radius: 50%;
                        padding: 10px;
                        color: white;
                        width: 45px;
                        background-color: #ca9a7e;
                    }

                    p {
                        font-family: "Poppins", semi-bold;
                        font-size: 15px;
                        font-weight: 600;
                        line-height: 23px;
                        margin: 0 !important;

                        color: $color_sombre;
                    }
                }
            }
        }
    }
}
//--  Fin bas  --

//--  footer  --
footer {
    background-color: $color_titre;
    padding: 50px 15px;
    
    .footer_mobile {
        display: flex;
    }

    .footer_desktop {
        display: none;
    }

    .footer_conteneur {

        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        
        .footer_ul {
            text-decoration: none;
            list-style: none;
            margin: 0 !important;
            padding: 0 !important;

            li {
                a{
                    font-family: "Poppins", semi-bold !important;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 28px;
                    text-align: left;
                    color: white;

                    &:hover {
                        letter-spacing: 0px;
                    }
                }

                margin-bottom: 5px;
            }
        }
    }

    .mentions {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        span {
            font-family: "Poppins" !important;
            font-size: 12px;
            line-height: 28px;
            color: white;
        }
    }
}
//--  Fin footer  --


//--  Mention légale --
.mentions_legales_modal {
    font-family: "Poppins" !important;
    font-size: 12px;
    line-height: 28px;
    color: white;
    cursor: pointer;
}

.mention_legale {

    .mi-close {
        color: $color_sombre;
        position: absolute;

        top: 0;
        right: 0;
        font-size: 24px;
        color: red;
        z-index: 100;
    }
    
    .modal-body {
        width: 90vw;
        left: 50%;
        transform: translateX(-50%);
        background: #fef9f2;
        color: $color_sombre;

        padding: 50px 35px;
        border-radius: 8px;

        h3 {
            font-family: "Lora", Bold !important;
            font-size: 46px;
            font-weight: bold;
            line-height: 46px;
            padding: 5px 5px;
            color: $color_titre;
            text-align: center;

            margin-bottom: 80px;
        }

        h4 {
            font-family: "Lora", Bold !important;
            font-size: 36px;
            font-weight: bold;
            line-height: 46px;
            padding: 5px 5px;
            color: $color_titre;
            //color: whitesmoke;
            text-align: left;
        }
        p {
            font-family: "Poppins", semi-bold !important;
            font-size: 14px;
            font-weight: 600;
            line-height: 28px;
            text-align: left;
            //color: white;
        }
        

    }
    
}
//--  Fin Mention légale  --

.mobile {
    display: block ;
}

.desktop {
    display: none ;
}

@media all and (max-width:980px) { 
    
}

@media screen and (min-width: 425px) {
    .enseignement {
        padding: 32px 28px;

        .enseignement_titre {
            padding: 5px 15px;
        }
    }
}

@media screen and (min-width: 768px) {


    .mobile {
        display: none ;
    }

    .desktop {
        display: block ;
    }

    .nav_header {
        .logo {
            img {
                width: 160px !important;
            }
        }
    }

    .haut {
        .ovale {
            height: 2030px;      
        }
    }

    .haut_conteneur {
        top: 0;
        width: 100%;

        .enseignement {

            padding: 32px 28px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .enseignement_txt {
                width: 50%;
            }

            .enseignement_img {
                width: 50% !important;
                img {
                    max-width: 520px;
                }
            }
        }

        .aqui { 

            .aqui_titre {
                max-width: 540px !important;
            }

            .aqui_conteneur_item {
                display: flex !important;
                flex-direction: row !important;
                justify-content: space-evenly !important;
                width: 100%;
                flex-wrap: wrap;

                .aqui_item {
                    p {
                        max-height: 105px;
                    }

                    transition: all .5s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.035);
                    }
                }
            }
        }
    }

    .apropos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .apropos_conteneur {
            width: 50% !important;
            height: 100% !important;
            margin: 0 !important;
        }

        .apropros_titre {
            text-align: left !important;
            padding: 0px !important;
            max-width: 540px !important;
        } 

        .signification {
            padding: 15px 30px 15px 0px !important;
        }

        .apropos_img {
            //max-width: 540px !important;
            width: 50% !important;
            height: 100% !important;
            margin: 0 !important;
        }

        .apropos_item {
            margin: 0px !important;
        }
    }

    .anais {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .anais_conteneur {
            width: 50% !important;
            height: 100% !important;
            margin: 0 !important;
        }

        .anais_titre {
            text-align: left !important;
            padding: 0px !important;
            max-width: 540px !important;
        } 

        .comsorte {
            padding: 15px 30px 15px 0px !important;
        }

        .anais_img {
            width: 50% !important;
            height: 100% !important;
            margin: 0 !important;
        }

        .anais_item {
            margin: 0px !important;
        }
    }
    
    .chiffres_conteneur_item {
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .chiffre_item {
            p {
                min-height: 100px;
            }
        }
    }

    .drapeaux_conteneur {
        width: 60% !important;
    }

    .formules {
        .formule_conteneur {
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-between !important;
            align-items: center !important;

            .formule_description {
                max-width: 355px !important;
            }

        }
    }
    
    .faq {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .faq_conteneur {
            width: 50% !important;
            height: 100% !important;
            margin: 0 !important;
        }

        .faq_titre {
            text-align: left !important;
            padding: 0px !important;
        } 

        .faq_bas {
            .panel {
                p {
                    max-width: 480px;
                }
            }
        }

        .faq_img.desktop{
            width: 50% !important;
            //height: 100% !important;
            display: flex;
            justify-content: center;

            img {
                width: 70% !important;
            }
        }
    }

    .formation {
        position: relative;
        padding: 190px 28px !important;
        .avis_1 {
            position: absolute;
            width: 40% !important;
            top: 0;
            left: 5px;
        }

        .avis_2 {
            position: absolute;
            width: 40% !important;
            top: 0;
            right: 5px;
        }

        .avis_3 {
            position: absolute;
            width: 35% !important;
            bottom: 200px;
            left: 0px;
        }

        .avis_4 {
            position: absolute;
            width: 35% !important;
            bottom: 210px;
            right: 0px;
        }

        .avis_5 {
            position: relative;
            width: 45% !important;
            margin: auto !important;
            bottom: -120px;
        }

    }

    .contactez {
        .contactez_conteneur_item {
            display: flex !important;
            flex-direction: row !important;
            width: 100%;
        }
    }

    footer {
        padding: 50px 15px 5px;

        .footer_mobile {
            display: none;
        }
    
        .footer_desktop {
            display: flex;
        }

        .footer_conteneur {
            
            flex-direction: row;
            justify-content: center;
            align-items: baseline;
            position: relative;
            
            .footer_img_desktop {
                position: absolute;
                left: 1%;
            }

            .footer_ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: baseline;
                width: 400px !important;
            }
        }

        .mentions {
            width: 400px;
            margin: 40px auto;
        }
    }
}

@media screen and (min-width: 1024px) {
    .ovale {
        height: 2050px !important;
    }

    .footer_conteneur {
        
        .footer_img_desktop {
            position: absolute;
            left: 10% !important;
        }
    }
}

@media screen and (min-width: 1235px) {

    .ovale {
        height: 1300px !important;
    }

    .header_menu_mobile {
        display: none !important;
    }

    .header_menu_desktop {
        display: flex !important;
        .ul_langues {
            position: absolute;

            top: 45px;
            left: -19px;
        }
    }
    
    header {
        .ul_menu {
            flex-direction: row;
            justify-content: end;
            align-items: end;
            text-decoration: none;
            list-style: none;
            margin: 0 !important;
            padding: 0 !important;
            min-width: 846px;

            li {
                margin-left: 20px;
                a {
                    font-family: "Poppins", regular;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    color: $color_titre;
                }
            }
        }

        .formules {
            font-family: "Poppins", semi-bold;
            font-size: 16px;
            font-weight: 600 !important;
            line-height: 25px;

            color: $color_second !important;

            background: white;
            padding: 9px 18px;
            border: 1px solid $color_second ;
            border-radius: 5px;  
            
            text-align: left;
            animation-delay: 0.5s;
        }
    }
}